.formContainer {
    display: flex;
    justify-content: space-around;
    padding: 32px;

}

.formDescription svg {
    color: #0CA1CD;
    font-size: 3rem;
}

.formLabel {
    color: #0CA1CD;
}

.formDescription p {
    color: white;
}

.formDescription, .formFields {
    width: 45%;
}