.introCol {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.introContainer {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 24px 64px;
    height: 25rem;
}
     

.introCol h1 {
    font-size: 3rem;   
    color: #0CA1CD;
    text-align: right;
}

.introCol p {  
    color: white;
    line-height: 24px;    
}

@media (min-width: 320px) and (max-width: 991px) { 

    .introCol {
        max-width: 100%;
    }
    .introContainer {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 70px 0;

    }

    .introCol h1 {
        font-size: 2.5rem;           
        text-align: center;
    }

    .introCol p {  
        text-align: center;    
    }

 }